


.tttBox{
    width: 318px;
    background-color: rgba(10, 8, 8, 0.466);
    margin: 10em 0 0;
}

.tttButton{
    background-color: #C8C8C8;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin: 3px;
    outline: none;
    border: none;
    font-size: 62px;
}
.tttButton:active{
    transform: scale(.9);
    color: honeydew;
}

.playerBox{
    position: absolute;
    right: 18%;
    width: 150px;
    top: 40%;
    margin: auto;
    text-align: center;
    padding: -2rem 4rem;
    font-size: 20px;
}

.resetBtn{
    position: absolute;
    width: 100px;
    background-color: rgb(191, 195, 199);
    border: 2px solid whitesmoke;
    padding: 1rem 2rem;
    top: 65%;
    left: 10%;
    margin: auto;
    text-align: center;
    font-size: 16px;
}
.titleDiv,.scoreBoard{
    position: absolute;
    top: -5px;
    left: 40%;
    width: 260px;
    font-size: 24px;
    text-decoration: underline;
    z-index: -1;
}
.scoreBoard{
    text-decoration: none;
    font-size: 18px;
    left: 10%;
    top: 30%;
    width: 200px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

