


.tttBox{
    width: 318px;
    background-color: rgba(10, 8, 8, 0.466);
    margin: 8em;
}

.tttButton{
    background-color: #C8C8C8;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin: 3px;
    outline: none;
    border: none;
    font-size: 62px;
}
.tttButton:active{
    transform: scale(.9);
    color: honeydew;
}

.playerBox{
    width: 40%;
    margin: auto;
    text-align: center;
    padding: -3rem 4rem;
    font-size: 20px;
}

.resetBtn{
    position: absolute;
    width: 100px;
    background-color: rgb(197, 198, 199);
    padding: 1rem 2rem;
    top: 70%;
    left: 46%;
    border: 30px;
    margin: auto;
    text-align: center;
}
.titleDiv{
    position: absolute;
    top: 1%;
    left: 42%;
    width: 260px;
    height: 80%;
    font-size: 24px;
    text-decoration: underline;
    z-index: -1;
}
